* {
    
}

body {
    background-color: black;
    color: white;
}

h1 {
    font-size: 5rem;
    text-align: center;
}

#drumButtonContainer {
    display:grid;
    grid-template-columns: 1fr 1fr 1fr;
    padding-bottom: 5rem;
}

button {
	border-color: white;
    background-color: black;
    color: white;
    font-size: 30px;
}

.drumButton {
    aspect-ratio: 1;
}

#btn_11 {
    grid-row: 4;
    grid-column-start: 2;
    grid-column-end: 4;
    aspect-ratio: 2;
}

#optionButtonContainer {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.optionButton {
    aspect-ratio: 1;
}

#stickButtonL, #stickButtonR, #footButton {
    background-color: darkgray;
}

#muteButton {
    background-color: green;
    color: black;
}